/* base */

@font-face {
    font-family: 'Gilroy-Black';
    src: url('../fonts/gilroy-black.eot');
    /* IE 9 Compatibility Mode */
    src: url('../fonts/gilroy-black.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('../fonts/gilroy-black.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/gilroy-black.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('../fonts/gilroy-black.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/gilroy-black.svg#gilroy-black') format('svg');
    /* Chrome < 4, Legacy iOS */
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/gilroy-bold.eot');
    /* IE 9 Compatibility Mode */
    src: url('../fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('../fonts/gilroy-bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/gilroy-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('../fonts/gilroy-bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/gilroy-bold.svg#gilroy-bold') format('svg');
    /* Chrome < 4, Legacy iOS */
}

@font-face {
    font-family: 'Gilroy-Heavy';
    src: url('../fonts/gilroy-heavy.eot');
    /* IE 9 Compatibility Mode */
    src: url('../fonts/gilroy-heavy.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('../fonts/gilroy-heavy.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/gilroy-heavy.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('../fonts/gilroy-heavy.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/gilroy-heavy.svg#gilroy-heavy') format('svg');
    /* Chrome < 4, Legacy iOS */
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../fonts/gilroy-medium.eot');
    /* IE 9 Compatibility Mode */
    src: url('../fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('../fonts/gilroy-medium.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/gilroy-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('../fonts/gilroy-medium.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/gilroy-medium.svg#gilroy-medium') format('svg');
    /* Chrome < 4, Legacy iOS */
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url('../fonts/gilroy-regular.eot');
    /* IE 9 Compatibility Mode */
    src: url('../fonts/gilroy-regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('../fonts/gilroy-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/gilroy-regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('../fonts/gilroy-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/gilroy-regular.svg#gilroy-regular') format('svg');
    /* Chrome < 4, Legacy iOS */
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('../fonts/gilroy-semibold.eot');
    /* IE 9 Compatibility Mode */
    src: url('../fonts/gilroy-semibold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('../fonts/gilroy-semibold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/gilroy-semibold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('../fonts/gilroy-semibold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/gilroy-semibold.svg#gilroy-semibold') format('svg');
    /* Chrome < 4, Legacy iOS */
}

@font-face {
    font-family: 'Gilroy-Thin';
    src: url('../fonts/gilroy-thin.eot');
    /* IE 9 Compatibility Mode */
    src: url('../fonts/gilroy-thin.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('../fonts/gilroy-thin.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/gilroy-thin.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('../fonts/gilroy-thin.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/gilroy-thin.svg#gilroy-thin') format('svg');
    /* Chrome < 4, Legacy iOS */
}

@font-face {
    font-family: 'Gilroy-UltraLight';
    src: url('../fonts/gilroy-ultralight.eot');
    /* IE 9 Compatibility Mode */
    src: url('../fonts/gilroy-ultralight.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('../fonts/gilroy-ultralight.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/gilroy-ultralight.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('../fonts/gilroy-ultralight.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/gilroy-ultralight.svg#gilroy-ultralight') format('svg');
    /* Chrome < 4, Legacy iOS */
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%;
    background: #FF635C;
}

html,
body {
    /* background-color: #ffffff; */
    line-height: normal;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #000000;
}

body {
    overflow: hidden;
    padding: 0 120px;
    background: #FF635C;
}

@media (max-width: 767px) {
    body {
        overflow: inherit;
    }
}

a,
a:hover {
    color: #000000 !important;
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer !important;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

input,
button {
    font-family: 'Gilroy-Regular';
    border: none;
    outline: none;
    margin: 0px;
}

input:hover,
button:hover {
    border: 0;
    outline: none;
}

input:focus,
button:focus {
    box-shadow: none !important;
    border: none;
    outline: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1680px;
    padding: 0 5px 0 5px;
}

@media (max-width: 1300px) {
    .container {
        max-width: 1300px;
        padding: 0 8px 0 8px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 992px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 768px;
        padding: 0 5px 0 5px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 576px;
    }
}


/* base */


/* header */

.header {}

.header-block {
    padding: 35px 0;
}

.logo-title {
    font-weight: 999;
    font-size: 24px;
    line-height: 98%;
    color: #fff;
}

.header-title {
    font-family: 'Gilroy-Medium';
    font-size: 20px;
    line-height: 25px;
    color: #ffffff;
}

.header-btn {
    border: 2px solid #FFFFFF;
    border-radius: 51px;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
    background: transparent;
    padding: 18px 41px !important;
    transition: 0.4s;
    font-family: 'Gilroy-Regular';
}

.header-btn:hover {
    border: 2px solid #FFFFFF;
    color: #FF635C;
    background: #fff !important;
    transition: 0.4s;
}

.header-btn:focus {
    border: 2px solid #FFFFFF;
    color: #FF635C;
    background: #fff !important;
    transition: 0.4s;
}


/* header */


/* main */

.main {
    background-color: #fff;
}

.quiz-information {
    position: relative;
    width: 70%;
}

.quiz-information::before {
    content: '';
    display: table;
    width: 2px;
    position: absolute;
    height: 100%;
    background-color: #EE514A;
    /* bottom: 0; */
    right: 0;
    top: 0;
}

.quiz-information__top {
    margin-bottom: 40px;
    position: relative;
    padding-top: 50px;
    padding-left: 55px;
}

.quiz-information__bottom::before {
    content: '';
    display: table;
    width: 100%;
    position: absolute;
    height: 2px;
    background-color: #EE514A;
    /* bottom: 0; */
    left: 0;
}

.information-title {
    font-size: 48px;
    line-height: 61px;
    color: #000000;
    font-family: 'Gilroy-Black';
}

.information-title span {
    color: #FF635C;
}

.information-decision {
    font-family: 'Gilroy-Bold';
    font-size: 36px;
    line-height: 45px;
    color: #000000;
    margin-bottom: 40px;
}

.information-history {
    font-family: 'Gilroy-Regular';
    font-size: 24px;
    line-height: 180%;
    color: #000000;
}

.quiz-information__bottom {
    padding: 0 0 50px 55px;
}

.bottom--block {
    margin-top: 40px;
    margin-bottom: 30px;
}

.bottom--block:last-child {
    margin-top: 0px;
    margin-bottom: 0px;
}

.bottom--block__item {
    margin-right: 20px;
}

.block__item--picture {
    margin-right: 30px;
}

.block__item--text {
    font-family: 'Gilroy-Regular';
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    width: 180px;
}

.quiz-information__big {
    width: 395px;
    right: 60px;
    bottom: 0;
}

.quiz-choice {
    width: 30%;
    padding: 50px 55px;
}

.subtitle-quiz {
    font-family: 'Gilroy-Bold';
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 30px;
}

.btn-secondary {
    flex: inherit !important;
    font-family: 'Gilroy-Regular';
    color: #000000;
    font-size: 15px;
    line-height: 20px;
    background: #FFFFFF;
    border: 1px solid #C6C6C6;
    width: 100%;
    padding: 15px 0 15px 20px !important;
    text-align: start;
}

.btn-secondary:hover,
.btn-secondary:focus {
    background: #FF635C;
    border: 1px solid #FF635C;
    outline: none;
}

.btn-secondary input {
    background: #ffffff;
    border: 1px solid#ffffff;
    outline: none;
}

.btn-secondary input:hover {
    color: #fff;
    background: #FF635C;
    border: 1px solid#FF635C;
    outline: none;
}

.btn-group {
    height: 280px;
    /* margin-bottom: 55px; */
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    color: #fff !important;
    background-color: #FF635C !important;
    border-color: #FF635C !important;
    outline: none !important;
    box-shadow: none !important;
}


/* .btn-secondary input {
    background-color: transparent;
} */

.quiz-back {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    border: 1px solid #D0D0D0;
    padding: 15px 45px;
    color: #000000;
    margin-right: 20px;
    transition: 0.3s;
    background: #dadada;
    border-radius: 51px;
}

.quiz-back:hover {
    margin-right: 20px;
    border: 1px solid #C2C2C2;
    background: #C2C2C2;
    transition: 0.3s;
}

.quiz-back:focus {
    margin-right: 20px;
    border: 1px solid #C2C2C2;
    background: #C2C2C2;
    transition: 0.3s;
}

.btn-further {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    padding: 15px 45px;
    background: #FF635C;
    border-radius: 51px;
    border: 1px solid#FF635C;
    cursor: pointer;
    transition: 0.3s;
}

.btn-further:hover {
    background: #f7554d;
    border: 1px solid#f7554d;
    transition: 0.3s;
}

.btn-further:focus {
    background: #f7554d;
    border: 1px solid#f7554d;
}


/* main */


/* footer */

.footer {}

.footer-text {
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #FFCECC;
    padding: 23px 0;
}


/* footer */


/* modal */

.modal-dialog {
    max-width: 545px;
}

.modal-content {
    border: none;
    border-radius: 0rem;
    padding: 40px 0 75px 70px;
}

.close {
    padding: 1rem 1rem 2rem 0rem !important;
    float: right;
    color: #000;
    text-shadow: 0 0 0 #fff;
    opacity: .5;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #B4B4B4;
}

.modal-header {
    border: none;
}

.title-modal {
    font-weight: 800;
    font-size: 48px;
    line-height: 59px;
    color: #FF635C;
}

.modal-body__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    width: 410px;
    margin-bottom: 40px;
}

.label-radio {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    font-size: 12px;
}

.real-radio {
    display: none;
}

.custom-radio {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 16px;
    vertical-align: middle;
    background: #FF635C;
    cursor: pointer;
}

.custom-radio img {
    right: 0;
    position: absolute;
    top: 0;
    transform: translate(-27%, 35%);
}

.custom-radio--text {
    width: 190px;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}

.label-radio input:checked+.custom-radio {
    background: #d8544d;
}

.style-input {
    border: 1px solid #C8C8C8;
}

.style-input:hover {
    border: 1px solid #C8C8C8;
}

.style-input:focus {
    border: 1px solid #C8C8C8;
}

.btn-primary {
    background-color: #FF635C;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 18px 55px;
    border: none;
}

.btn-primary:focus {
    color: #fff;
    background: #FF635C;
    box-shadow: none;
    border: none;
}

.btn-primary:hover {
    color: #fff;
    background: #FF635C;
    border: none;
    box-shadow: none;
}

.btn-primary:active {
    color: #fff;
    background: #FF635C;
    border: none;
    box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background: #FF635C;
    border: none;
}

.btn {
    border-radius: 0%;
}

.modal-footer {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    border: none;
}

.modal-footer>* {
    margin: 0 !important;
}

.modal-body--content__right {
    padding-top: 18px;
}

.modal-body--content__right img {
    bottom: 0;
    right: 15px;
    max-width: 370px;
    z-index: 1;
}

.body--content__right--color {
    height: 470px;
    width: 270px;
}

.body--content__right--color img {
    top: 0;
    width: 270px;
    right: 0;
}

.modal-thanks {
    z-index: 20;
    background: #FFFFFF;
    position: fixed;
    width: 450px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    box-shadow: -3px -6px 20px 2px rgba(0, 0, 0, 0.2);
}

.modal-thanks__grey {
    height: 60px;
    width: 60px;
    background: #EBEBEB;
}

.modal-thanks__pink {
    right: 0;
    bottom: 0;
    height: 60px;
    width: 240px;
    background-color: #FF635C;
}

.modal-thanks__content {
    padding: 120px 0 0 0;
}

.thanks__content--text {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 180px;
}


/* modal */